<div class="container">

  <div class="jumbotron mt-3">
    <h1>Hello UNKO World</h1>
    <p class="lead">
      UNKOな世界にようこそ。<br>
      コンニチハ！UNKO世界！
    </p>

    <%= link_to 'UNKOな仲間たち', {:controller => 'users', :action => 'index'}, {:class => 'btn btn-lg btn-primary'} %>
  </div>
  <!-- /.jumbotron -->

</div>
